<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="isLoggedIn()==true && getRole()=='manager'||' associate'">
          <a class="nav-link" routerLink="account">Display account</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn()==true && getRole()=='manager'||' associate'">
          <a class="nav-link" routerLink="account.http">Display  http_accoun</a>
        </li>
        
        <li class="nav-item" *ngIf="isLoggedIn()==true && getRole()==' associate'||'manager'">
            <a class="nav-link" routerLink="Reimbursement.http">Display remebursmentt</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn()==true && getRole()=='associate'||'manager'">
        <a class="nav-link" routerLink="Reimbursement">Reimbursement Component</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn()==false">
          <a class="nav-link" routerLink="login">Login</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn()==true">
          <a class="nav-link" routerLink="logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
